/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Colors
   ========================================================================== */

/* Don't use black */

$black:  #3b3b3b;
$white: #f9f9f9;
$red: #f03f35;
$black-transp: #2f2f2f90; //transparent grey for the navigation bar (90% transp.)

/* Gray scale */

$grey-dark:   #222;
$grey-medium: #999;
$grey-light:  #d9d9d9;

/* Hilight */

$hilite: #fffbd7;

/* Accent Colors */

//$link: #8AB9D1;
//$accent: #24536B;
$link: #c43136;
$accent: #f03f35;
//$accent: #ff5458;

//$accent: #ff666a;
//$accent: #ff3d43;


/* Typography
   ========================================================================== */

$sans: "Josefin Sans", "Source Sans Pro", sans-serif;
//$sans: "Lato", "Source Sans Pro", "Merriweather Sans", "Open Sans", "Montserrat", "Roboto", "Helvetica Neue", "Arial", sans-serif;

//$serif: "Cardo", serif;
$serif: "Cardo", "Alegreya", "Crimson Text", serif;

$headerfont: "Josefin Sans", sans-serif; //Separate font for site header
//$headerfont: "Roboto Condensed", sans-serif; //Separate font for site header


/* Type Scale
   ========================================================================== */

/** * 12 & 16 as roots then powers of two. */

$fsp:16px; //Normal text font

$fs1:32px;
$fs2:28px;
$fs3:24px;
$fs4:20px; //Normal header font
$fs5:16px;
$fs6:12px; //Footer text font
$fs7:10px; //Footer text font in mobile

// Line Height

$lh: 33px;
$lhsmall: 24px;
$lhtext: 30px;

// Sizing
//$footerHeight: 65px;
$footerHeight: 80px;


// Font Weight

$semibold: 600;


// Griddit



/* Break Points
   ========================================================================== */

/* Mobile */
$breakpoint-1-max-width:480px;

/* Tablet */
$breakpoint-2-max-width:800px;
$breakpoint-3-max-width:1200px;

/* Style Tidbits
   ========================================================================== */

$borderR: 4px;
