/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Colors
   ========================================================================== */

/* Don't use black */

$black:  #3b3b3b;
$white: #f9f9f9;

/* Gray scale */

$grey-dark:   #222;
$grey-medium: #999;
$grey-light:  #d9d9d9;

/* Hilight */

$hilite: #fffbd7;

/* Accent Colors */

//$link: #8AB9D1;
//$accent: #24536B;
$link: #c43136;
$accent: #ff5458;
//$accent: #ff666a;
//$accent: #ff3d43;


/* Typography
   ========================================================================== */

//$sans: "Lato", "Source Sans Pro", "Merriweather Sans", "Open Sans", "Montserrat", "Roboto", "Helvetica Neue", "Arial", sans-serif;
$sans: "Source Sans Pro", sans-serif;

//$serif: "Crimson Text", "Cardo", "Alegreya", serif;
$serif: "Cardo", serif;


/* Type Scale
   ========================================================================== */

/** * 12 & 16 as roots then powers of two. */

$fsp:20px; //Normal text font

$fs1:64px;
$fs2:48px;
$fs3:32px;
$fs4:20px; //Normal header font
$fs5:16px; 
$fs6:12px; //Footer text font

// Line Height

$lh: 33px;
$lhsmall: 24px;
$lhtext: 30px;

// Sizing 
//$footerHeight: 65px;
$footerHeight: 80px;


// Griddit



/* Break Points
   ========================================================================== */
   
/* Mobile */
$breakpoint-1-max-width:480px;

/* Tablet */
$breakpoint-2-max-width:800px;
$breakpoint-3-max-width:1200px;

/* Style Tidbits
   ========================================================================== */

$borderR: 4px;

